{{> head }}
{{> navbar }}
<div class="row m-0 p-0">
<div class="col-8 m-0 p-0">
    <h1>Paisajazo</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse incidunt earum sit deleniti voluptate fugiat unde id est nesciunt doloribus illum aliquid voluptatem, qui modi provident autem eveniet beatae asperiores?
    </p>
</div>
<div class="col-4 m-0 p-0">
    <img src="/assets/img/foto.jpg" class="w-100 m-0 p-0 img-thumbnail"alt="">
</div>
</div>

{{> footer }}